<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Edit Student</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="container mt-4">

<h2>Редагування студента</h2>

<form th:action="@{/api/v2/students/edit}"
      th:object="${student}"
      method="post">

    <input type="hidden" th:field="*{id}">

    <div class="mb-3">
        <input class="form-control"
               type="text"
               th:field="*{name}">
    </div>

    <div class="mb-3">
        <input class="form-control"
               type="number"
               th:field="*{age}">
    </div>

    <div class="mb-3">
        <input class="form-control"
               type="email"
               th:field="*{email}">
    </div>

    <button class="btn btn-success"
            type="submit">
        Save
    </button>

</form>

</body>
</html>
